.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: #0F0F0F;
}

.logo{
    color: white;
}

.header_buttons {
    color: #969696;
}

.header_buttons:hover {
    color: white;
    background-color: #1F1F1F;
    align-items: center;
    justify-content: center;
}