.p
{
    color:aliceblue;
}

.container {
    width: 45%;
    height: 45%;
    background-color: antiquewhite;
    margin: 4%;
    padding: 4%;
    border: 3px outset yellowgreen;
    border-radius: 10px;
}

.text {
    color: darkolivegreen;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.big {
    font-weight: 600;
    font-size: 1.5em;
}